body{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}
.formSection{
    .formSection__button{
        background-color: #0055D9;
        &:hover{
            background-color: rgb(9, 9, 243);
        }
    }
    .formSection__span{
        font-size: 12px;
        margin-left: 5%;
        
    }
    
}
