<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="../imgs/company_job/prand.jpg">

    <link rel="stylesheet" href="../css/app.css">
    <title>Explor / WUZZUF</title>
</head>

<body class="bg-light">
    <!-- header -->
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="header-left col-lg-7">
                    <div class="row align-items-baseline">
                        <a href="" class="wuzzuf-logo col-3">
                            <svg viewBox="0 0 125 20" xmlns="http://www.w3.org/2000/svg" aria-labelledby="wuzzuf-logo"
                                class="css-1hbwp7i">
                                <path fill="#0055D9"
                                    d="M23.724.001h4.906L22.583 20H18.17L14.315 7.96 10.489 20H6.046L0 .001h4.936L8.793 12.32 12.587 0h3.61l3.671 12.319L23.724 0zm9.147 17.552c-1.604-1.63-2.406-3.823-2.406-6.577V.001h4.689v11.036c0 1.54.432 2.714 1.296 3.524.864.81 2.046 1.215 3.548 1.215 1.48 0 2.648-.405 3.502-1.215.853-.81 1.28-1.985 1.28-3.524V0h4.689v10.975c0 2.754-.792 4.947-2.376 6.577C45.51 19.184 43.145 20 39.998 20s-5.523-.815-7.127-2.446zm18.416-.694L62.456 3.95H51.565V.001h16.69v3.17L57.15 16.052h11.106V20H51.287v-3.14zm18.803 0L81.258 3.95h-10.89V.001h16.69v3.17l-11.106 12.88h11.106v3.948H70.09v-3.14zm21.226.694c-1.605-1.63-2.407-3.823-2.407-6.577V.001h4.69v11.036c0 1.54.432 2.714 1.295 3.524.864.81 2.047 1.215 3.548 1.215 1.481 0 2.648-.405 3.502-1.215.853-.81 1.28-1.985 1.28-3.524V0h4.69v10.975c0 2.754-.793 4.947-2.376 6.577-1.584 1.631-3.949 2.446-7.096 2.446-3.147 0-5.522-.815-7.126-2.446zm23.279-5.733V20h-4.69V0H125l-1.08 3.982h-9.325V8.18h7.959l-.99 3.64h-6.97z">
                                </path>
                            </svg>
                        </a>
                        <nav class="header-nav col-7">
                            <ul class="d-flex list-unstyled">
                                <li class="active d-inline-flex"><a href="../components/explor.html">explore</a></li>
                                <li class="d-inline-flex"><a href="../components/saved.html">saved</a>
                                </li>
                                <li class="d-inline-flex"><a href="../components/application.html">applications</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-right col-lg-5">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <div class="form">
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="search form-control"
                                            placeholder="Search jobs, companies.." aria-label="Recipient's username"
                                            aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2"><i
                                                class="fas fa-search"></i></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="profile-img-btn" id="profile_toggle_btn">
                                <img class="img-fluid img-thumbnail rounded-circle" src="../imgs/avatar/member-2.png"
                                    alt="">
                                <i class="menue-btn fas fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-settings-menue" id="setting_menue">
            <div class="row profile-info setting-option">
                <a href="" class="col-3 img-container">
                    <img class="img-fluid rounded-circle" src="imgs/avatar/member-2.png" alt="avatar">
                </a>
                <div class="col-9">
                    <a class="view-profile d-flex flex-column" href="/profile">
                        <span class="h5 user-name">Amr Mohsen</span>
                        <span class="email">amrmohsen72@gmail.com</span>
                        <span class="view-profile-link">View profile</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row row-cols-1 setting-links" id="setting_links">
                <a href="" class="col setting-option">
                    <i class="fa fa-edit"></i>Edit Profile
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-heart"></i>Update career interests
                </a>
                <hr>
                <a href="" class="col setting-option">
                    <i class="fas fa-book-open"></i>Career Readings
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-book-reader"></i>Learning opportunities
                </a>
                <hr>
                <a href="" class="col setting-option">
                    <i class="fas fa-hands-helping"></i>Help Center
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-envelope"></i>contact Us
                </a>
                <hr>
                <a href="" class="col setting-option">
                    <i class="fas fa-cog"></i>Account settings
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-sign-out-alt"></i>logout
                </a>
            </div>
        </div>
    </header>

    <!-- page content -->
    <div class="container">
        <div class="row">
            <div class=" my-3">
                <h4> Explore New Career Opportunities</h4>
                <p class=" fw-light">
                    To get relevant content in the feed below, <a href=""> update your career interests</a>
                </p>
            </div>
            <sction class="jobs__container col-lg-7 col-xs-12" id="listOfJobs">



            </sction>
            <!-- prograss -->
            <sction class="jobs__prograss col-6 col-lg-4  col-xs-6">
                <section class="card">
                    <div class="card-body">
                        <h5 class="card-title">Improve Your Profile</h5>
                        <small class="mb-2 text-muted">
                            <span class="Viewed">1</span>
                            <i> employers viewed your profile in the last 30 days (0
                                all time)</i>
                        </small>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="50"></div>
                        </div>
                        <small class="mt-3 text-muted">Your profile strength is 50% </small>
                        <div id="carouselExampleControlsNoTouching" class="carousel carousel-dark slide"
                            data-bs-touch="false" data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <small> Update your Phone</small>

                                </div>
                                <div class="carousel-item">
                                    <small>Add your Experiences (+4%)</small>
                                </div>
                                <div class="carousel-item">
                                    <small>Add your Experiences (+4%)</small>
                                </div>
                                <button class="carousel-control-prev  " type="button"
                                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                    <span class="carousel-control-next-icon  " aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </section>
            </sction>
            <!-- prograss -->
        </div>
    </div>





    <script src="../js/appJob.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="../js/header.js"></script>
</body>

</html>