<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="../imgs/company_job/prand.jpg">

    <link rel="stylesheet" href="../css/app.css">
    <title>Account Settings | WUZZUF</title>
</head>

<body class="bg-light">
    <!-- header -->
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="header-left col-lg-7">
                    <div class="row align-items-baseline">
                        <a href="" class="wuzzuf-logo col-3">
                            <svg viewBox="0 0 125 20" xmlns="http://www.w3.org/2000/svg" aria-labelledby="wuzzuf-logo"
                                class="css-1hbwp7i">
                                <path fill="#0055D9"
                                    d="M23.724.001h4.906L22.583 20H18.17L14.315 7.96 10.489 20H6.046L0 .001h4.936L8.793 12.32 12.587 0h3.61l3.671 12.319L23.724 0zm9.147 17.552c-1.604-1.63-2.406-3.823-2.406-6.577V.001h4.689v11.036c0 1.54.432 2.714 1.296 3.524.864.81 2.046 1.215 3.548 1.215 1.48 0 2.648-.405 3.502-1.215.853-.81 1.28-1.985 1.28-3.524V0h4.689v10.975c0 2.754-.792 4.947-2.376 6.577C45.51 19.184 43.145 20 39.998 20s-5.523-.815-7.127-2.446zm18.416-.694L62.456 3.95H51.565V.001h16.69v3.17L57.15 16.052h11.106V20H51.287v-3.14zm18.803 0L81.258 3.95h-10.89V.001h16.69v3.17l-11.106 12.88h11.106v3.948H70.09v-3.14zm21.226.694c-1.605-1.63-2.407-3.823-2.407-6.577V.001h4.69v11.036c0 1.54.432 2.714 1.295 3.524.864.81 2.047 1.215 3.548 1.215 1.481 0 2.648-.405 3.502-1.215.853-.81 1.28-1.985 1.28-3.524V0h4.69v10.975c0 2.754-.793 4.947-2.376 6.577-1.584 1.631-3.949 2.446-7.096 2.446-3.147 0-5.522-.815-7.126-2.446zm23.279-5.733V20h-4.69V0H125l-1.08 3.982h-9.325V8.18h7.959l-.99 3.64h-6.97z">
                                </path>
                            </svg>
                        </a>
                        <nav class="header-nav col-7">
                            <ul class="d-flex list-unstyled">
                                <li class="active d-inline-flex"><a href="../components/explor.html">explore</a></li>
                                <li class="d-inline-flex"><a href="../components/saved.html">saved</a>
                                </li>
                                <li class="d-inline-flex"><a href="../components/application.html">applications</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-right col-lg-5">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <div class="form">
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="search form-control"
                                            placeholder="Search jobs, companies.." aria-label="Recipient's username"
                                            aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2"><i
                                                class="fas fa-search"></i></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="profile-img-btn" id="profile_toggle_btn">
                                <img class="img-fluid img-thumbnail rounded-circle" src="../imgs/avatar/member-2.png"
                                    alt="">
                                <i class="menue-btn fas fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-settings-menue" id="setting_menue">
            <div class="row profile-info setting-option">
                <a href="" class="col-3 img-container">
                    <img class="img-fluid rounded-circle" src="imgs/avatar/member-2.png" alt="avatar">
                </a>
                <div class="col-9">
                    <a class="view-profile d-flex flex-column" href="/profile">
                        <span class="h5 user-name">Amr Mohsen</span>
                        <span class="email">amrmohsen72@gmail.com</span>
                        <span class="view-profile-link">View profile</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row row-cols-1 setting-links" id="setting_links">
                <a href="" class="col setting-option">
                    <i class="fa fa-edit"></i>Edit Profile
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-heart"></i>Update career interests
                </a>
                <hr>
                <a href="" class="col setting-option">
                    <i class="fas fa-book-open"></i>Career Readings
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-book-reader"></i>Learning opportunities
                </a>
                <hr>
                <a href="" class="col setting-option">
                    <i class="fas fa-hands-helping"></i>Help Center
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-envelope"></i>contact Us
                </a>
                <hr>
                <a href="../components/setting.html" class="col setting-option">
                    <i class="fas fa-cog"></i>Account settings
                </a>
                <a href="" class="col setting-option">
                    <i class="fas fa-sign-out-alt"></i>logout
                </a>
            </div>
        </div>
    </header>
    <!-- alert -->
    <div id="alertSubscraption" class="alert__container"></div>
    <!-- page -->


    <section class="  mt-5  ">
        <div class="col-md-6 offset-md-3 ">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-2 fs-6">Public Profile Settings</h2>
                    <div class="mb-2">
                        <p class="sub_title ">Activating your public profile enables you to share it with
                            friends and potential employers.</p>
                        <p class=" sub_title ">It's a great way to show the world your skills and experience.
                        </p>
                    </div>
                    <div class="switch-button is-active me-4">
                        <div class="switch-button__container me-4">
                            <div class="form-check form-switch ">
                                <input class="form-check-input me-4" type="checkbox" id="flexSwitchCheckChecked"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                    Make my profile public. (Recommended)
                                </label>
                                <p class="small__size text-muted">By activating this option, you can share
                                    your
                                    profile to those not on WUZZUF and get more exposure.</p>
                            </div>

                        </div>
                    </div>

                    <form>
                        <div class="css-2w5vi3 e1984bhe0"><span>Your url is:</span><a target="_blank"
                                rel="noopener noreferrer"
                                href="/me/Lina-Ahmed-4b7a946bab">wuzzuf.net/me/Lina-Ahmed-4b7a946bab</a><button
                                type="button" class="btn btn-light ms-3">Change</button></div>
                    </form>
                </div>

            </div>
        </div>
        </div>
    </section>
    <section class="mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-2 fs-6">Public Profile Settings</h2>
                    <div class="mb-2">
                        <p class="sub_title ">To change your account password, enter your current password, then
                            enter your new password and confirm it.</p>
                    </div>
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="form-group row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01" class="form-label">Current Password : </label>
                                <input type="password" class="form-control bg-light" id="validationCustom01" required>
                                <div class="invalid-feedback">
                                    This is a required field

                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="validationCustom02" class="form-label">New Password :
                                </label>
                                <div class="input-group has-validation">
                                    <input type="password" class="form-control bg-light" id="validationCustom02"
                                        aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        This is a required field

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom03" class="form-label">Confirm New Email : </label>
                                <input type="password" class="form-control bg-light" id="validationCustom03" required>
                                <div class="invalid-feedback">
                                    This is a required field

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mt-3">
                            <button class="btn btn-light " type="submit">Update Password</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <section class="mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-2 fs-6">Account Email </h2>
                    <div class="mb-4">
                        <p class="sub_title ">You are already registered with the following
                            email:<strong>leena3792@gmail.com</strong>
                            <br>If you would like to sign-in and receive emails on a different address,
                            write this new email
                            here.

                        </p>
                    </div>
                    <form class="row g-3 needs-validation" novalidate>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="validationCustomUsername" class="form-label">New Email : </label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control bg-light" id="validationCustomUsername"
                                        aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        This is a required field

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom02" class="form-label">Confirm Password : </label>
                                <input type="text" class="form-control bg-light" id="validationCustom02" required>
                                <div class="invalid-feedback">
                                    This is a required field

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mt-3">
                            <button class="btn btn-light " type="submit">Update My Email</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <section class="col-md-6 offset-md-3  mt-3 subscriptions">
        <section class="card">
            <div class="card-body">
                <h2 class="mb-2 fs-6">My Subscriptions</h2>
                <form>
                    <div class="css-v2unji">
                        <div class="d-flex  align-items-center mb-3">
                            <div class="form-check col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Receive new jobs newsletter
                                </label>
                            </div>
                            <div class="ms-3 col-md-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Weekly</option>
                                    <option value="1"> monthly</option>
                                </select>
                            </div>
                        </div>
                        <p class="sub_title">You will receive emails containing the latest jobs which match
                            your preferences. You will get it weekly or monthly depending on your job<a href="#">search
                                status</a>.
                        </p>
                        <div class="mt">
                            <label class="checkbox">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <span class="fw-bold text-muted ms-2">
                                    <span class="sub_title">Receive notification emails for jobs
                                        similar to your recent applications</span>
                                </span>
                            </label>
                        </div>

                        <div class="mt-2">
                            <label class="fw-bold text-muted  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <span class="ms-2">
                                    <span class="sub_title">Receive profile alerts and offers</span>
                                </span>
                            </label>
                        </div>
                        <p class="sub_title">We will email you when employers view your CV or job
                            applications and tips regarding your profile.</p>
                        <div class="">
                            <button type="button" class="btn btn-light " onclick="updatSubscribe()">Update
                                Subscriptions</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>
    <section class="col-md-6 offset-md-3  mt-3 mb-4">
        <div class=" card">
            <div class="card-body">
                <h2 class="mb-2 fs-6">Delete Account</h2>
                <p class="sub_title">If you are deleting your profile just because you do not want employers to
                    see
                    your profile, you can just hide your profile through the above section.</p>
                <div class="mt-3">
                    <button type="button" class="btn btn-danger text-white" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Delete My
                        Account</button>
                </div>
            </div>
        </div>
    </section>

    <!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">

                <div class="modal__content">
                    <div class="modal-header">
                        <h3 class="title">Confirm Account Deletion</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p class="sub_title text-danger">Note that by deleting your account, you will not be able to
                                access your account again. This action cannot undone!</p>
                            <label for="reason" class="">Before you go, please tell us why you are deleting
                                your
                                account:</label>
                            <div class="">
                                <input id="reason" type="text" class="form-control bg-light"
                                    label="Before you go, please tell us why you are deleting your account."
                                    name="reason" value="">

                            </div>
                            <p class=""><input type="checkbox" id="delete-account-confirmation-check">
                                <label for="delete-account-confirmation-check" style="user-select: none;">
                                    I confirm to delete my account.</label>
                            </p>
                            <div class="">
                                <button type="button" class="btn" data-bs-dismiss="modal"
                                    style="margin-right: 20px;">Cancel</button>
                                <button type="button" disabled="" class="btn btn-danger">Delete My
                                    Account</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="../js/header.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();
        // update starter
        function updatSubscribe() {

            var alert = document.getElementById("alertSubscraption");
            alert.innerHTML = `
            <div class="alert alert-light alert-dismissible fade show  alert__subscrip" role="alert">
                <i class="fas fa-check-circle  icon__alert"></i>
                     Saved Successfully
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            `
        }
    </script>
</body>

</html>