* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:$body_color;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}

