.regist {
    border-radius: 0%;
    text-align: left; 
}
.header {
    font-size: 20px;
    margin-bottom: 20px;
}

.bodyContactC {
    display: flex;
    align-items: center;
    justify-content: center;
}
