.regist {
    border-radius: 0%;
    text-align: left;
    margin-top: 3%;
}

.header {
    font-size: 20px;
    margin-bottom: 20px;
}

.bodyContactC {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderParagraph {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.anchorsOfForms {
    text-decoration: none;
    margin-left: 2px;
}

.cardParagraph {
    background-color: white;
}

.LogoText {
    text-align: left;
    margin-left: 15%;
}